# Rust
/target/

# Node
node_modules/

# Vite
dist/

# Storybook
storybook-static/

# Tauri
src-tauri/target/
src-tauri/gen/schemas/

# macOS
.DS_Store

__pycache__
.claude/

# TypeScript
*.tsbuildinfo

# cspell
.cspellcache
